In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# os.getcwd()

In [3]:
pd.set_option('display.max_columns', None)

#### Q1. Pandas version

In [4]:
# 1.1
print(f"Pandas version: {pd.__version__}")

Pandas version: 2.3.2

In [5]:
# 1.2
# !wget -O car_fuel_efficiency.csv https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

In [32]:
# 1.3
df = pd.read_csv("car_fuel_efficiency.csv", header=0, sep=",")
print(f"Columns: {df.columns}")
print("*"*20)
display(df.head())

Columns: Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')
********************

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

#### Q2. Records count

In [33]:
print(f"No. of records: {df.shape[0]}")

No. of records: 9704

#### Q3. Fuel types

In [34]:
print(f"No. of fuel types: {df['fuel_type'].nunique()}")

No. of fuel types: 2

#### Q4. Missing values

In [35]:
missing_values = df.isnull().sum()
print(f"No. of missing values: {len(missing_values[missing_values!=0])}")

No. of missing values: 4

#### Q5. Max fuel efficiency

In [36]:
cars_Asia = df[df['origin']=='Asia']
print(f"Max. fuel efficiency of cars from Asia: {cars_Asia['fuel_efficiency_mpg'].values.max().round(2)}")

Max. fuel efficiency of cars from Asia: 23.76

#### Q6. Median value of horsepower

In [37]:
# 6.1
print(f"Median value before imputation: {df['horsepower'].median()}")

Median value before imputation: 149.0

In [38]:
# 6.2
most_freq_hp = df['horsepower'].value_counts().max()

In [39]:
# 6.3
df['horsepower'] = df['horsepower'].fillna(most_freq_hp)

In [40]:
# 6.4
print(f"Median value after imputation: {df['horsepower'].median()}")

Median value after imputation: 146.0

#### Q7. Sum of weights

In [41]:
# 7.1
cars_Asia = df[df['origin']=='Asia']

In [42]:
# 7.2
df_subset = df[['vehicle_weight', 'model_year']]

In [43]:
# 7.3
df_subset_7 = df_subset.head(7)

In [70]:
# 7.4
X = df_subset_7.values

In [84]:
# 7.5
XTX = X.T.dot(X)

In [85]:
# 7.6
XTX_inverse = np.linalg.inv(XTX)

In [86]:
# 7.7
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [91]:
# 7.8
w = np.dot(XTX_inverse.dot(X.T), y)

In [93]:
# 7.9
print(f"Sum of elements of w: {w.sum().round(2)}")

Sum of elements of w: 0.49