In [1]:
import pandas as pd
import string

pd.set_option('display.max_columns', None) # Number of columns to display- if max_columns is exceeded, switch to truncate view; 'None' means unlimited
# pd.set_option('display.max_rows, 2') # Number of rows to display- if max_rows is exceeded, switch to truncate view 
pd.set_option('display.expand_frame_repr', False) # Whether to print out the full DataFrame repr for wide DataFrames across multiple lines; max_columns is still respected

In [2]:
# Reset the options to default
# pd.reset_option('display.max_columns')
# pd.reset_option('display.max_rows')
# pd.reset_option('display.expand_frame_repr')

In [3]:
# Creating a dataframe - Each list is an observation; we can also use a list of dictionaries to insert the rows in a dataframe, where each dictionary would be one observations and the keys would be the 
# column names - Example, data = [{'Make':'Nissan','Model':'Stanza','Year':1991,....,'MSRP':'2000'}]
data = [
    ['Nissan', 'Stanza', 1991, 138, 4, 'MANUAL', 'sedan', 2000],
    ['Hyundai', 'Sonata', 2017, None, 4, 'AUTOMATIC', 'Sedan', 27150],
    ['Lotus', 'Elise', 2010, 218, 4, 'MANUAL', 'convertible', 54990],
    ['GMC', 'Acadia',  2017, 194, 4, 'AUTOMATIC', '4dr SUV', 34450],
    ['Nissan', 'Frontier', 2017, 261, 6, 'MANUAL', 'Pickup', 32340],
]
 
columns = [
    'Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders',
    'Transmission Type', 'Vehicle_Style', 'MSRP'
]
 
df = pd.DataFrame(data, columns=columns)
print(df.head())

      Make     Model  Year  Engine HP  Engine Cylinders Transmission Type Vehicle_Style   MSRP
0   Nissan    Stanza  1991      138.0                 4            MANUAL         sedan   2000
1  Hyundai    Sonata  2017        NaN                 4         AUTOMATIC         Sedan  27150
2    Lotus     Elise  2010      218.0                 4            MANUAL   convertible  54990
3      GMC    Acadia  2017      194.0                 4         AUTOMATIC       4dr SUV  34450
4   Nissan  Frontier  2017      261.0                 6            MANUAL        Pickup  32340

Series - each column of a dataframe is of the type 'Series'

In [4]:
# To access the column whose column name has a <space>, we cannot use `` like we do in R
# df.`Engine HP` # Throws an error
print(df['Engine HP'].head()) # The 'Name' in the output is tha name of the series
# Access multiple columns
print(df[['Make','Year','Engine HP']].head())
# Create a new column
df['id'] = df.index + 1
print(df.head())
# To delete a column
del df['id']
# Another way is to drop a column - If the column isn't present and we still use drop(), we can set the errors = 'ignore'
df = df.drop('id', axis=1, errors='ignore')
print(df.head())

0    138.0
1      NaN
2    218.0
3    194.0
4    261.0
Name: Engine HP, dtype: float64
      Make  Year  Engine HP
0   Nissan  1991      138.0
1  Hyundai  2017        NaN
2    Lotus  2010      218.0
3      GMC  2017      194.0
4   Nissan  2017      261.0
      Make     Model  Year  Engine HP  Engine Cylinders Transmission Type Vehicle_Style   MSRP  id
0   Nissan    Stanza  1991      138.0                 4            MANUAL         sedan   2000   1
1  Hyundai    Sonata  2017        NaN                 4         AUTOMATIC         Sedan  27150   2
2    Lotus     Elise  2010      218.0                 4            MANUAL   convertible  54990   3
3      GMC    Acadia  2017      194.0                 4         AUTOMATIC       4dr SUV  34450   4
4   Nissan  Frontier  2017      261.0                 6            MANUAL        Pickup  32340   5
      Make     Model  Year  Engine HP  Engine Cylinders Transmission Type Vehicle_Style   MSRP
0   Nissan    Stanza  1991      138.0                 4            MANUAL         sedan   2000
1  Hyundai    Sonata  2017        NaN                 4         AUTOMATIC         Sedan  27150
2    Lotus     Elise  2010      218.0                 4            MANUAL   convertible  54990
3      GMC    Acadia  2017      194.0                 4         AUTOMATIC       4dr SUV  34450
4   Nissan  Frontier  2017      261.0                 6            MANUAL        Pickup  32340

Accessing Elements of a Dataframe - loc and iloc

In [5]:
# loc - accessing the elements by names
print(df.loc[1]) # Access by index (name, not number)
df.index = list(string.ascii_lowercase)[:5] # string.ascii_lowercase gives a string of lower case alphabets from a-z
print(df.head())
print(df.loc[['a','b']]) # by default if you use .loc without :, the indices would be searched
print(df.loc[:,['Make','Model']])
df.reset_index(drop = True, inplace = True) # To reset the index to 0..n range; if we don't set drop = True
print(df.head())

# iloc - accessing elements by index number
df.iloc[[0,3],list(range(2,4))] # we can't give range by ':' like in R

Make                   Hyundai
Model                   Sonata
Year                      2017
Engine HP                  NaN
Engine Cylinders             4
Transmission Type    AUTOMATIC
Vehicle_Style            Sedan
MSRP                     27150
Name: 1, dtype: object
      Make     Model  Year  Engine HP  Engine Cylinders Transmission Type Vehicle_Style   MSRP
a   Nissan    Stanza  1991      138.0                 4            MANUAL         sedan   2000
b  Hyundai    Sonata  2017        NaN                 4         AUTOMATIC         Sedan  27150
c    Lotus     Elise  2010      218.0                 4            MANUAL   convertible  54990
d      GMC    Acadia  2017      194.0                 4         AUTOMATIC       4dr SUV  34450
e   Nissan  Frontier  2017      261.0                 6            MANUAL        Pickup  32340
      Make   Model  Year  Engine HP  Engine Cylinders Transmission Type Vehicle_Style   MSRP
a   Nissan  Stanza  1991      138.0                 4            MANUAL         sedan   2000
b  Hyundai  Sonata  2017        NaN                 4         AUTOMATIC         Sedan  27150
      Make     Model
a   Nissan    Stanza
b  Hyundai    Sonata
c    Lotus     Elise
d      GMC    Acadia
e   Nissan  Frontier
      Make     Model  Year  Engine HP  Engine Cylinders Transmission Type Vehicle_Style   MSRP
0   Nissan    Stanza  1991      138.0                 4            MANUAL         sedan   2000
1  Hyundai    Sonata  2017        NaN                 4         AUTOMATIC         Sedan  27150
2    Lotus     Elise  2010      218.0                 4            MANUAL   convertible  54990
3      GMC    Acadia  2017      194.0                 4         AUTOMATIC       4dr SUV  34450
4   Nissan  Frontier  2017      261.0                 6            MANUAL        Pickup  32340

   Year  Engine HP
0  1991      138.0
3  2017      194.0

Element-wise operations are similar to ones in numpy array

In [6]:
# Access observations using logical operations
print(df[(~df['Engine HP'].isna()) & (df['Year'] > 2010)])

     Make     Model  Year  Engine HP  Engine Cylinders Transmission Type Vehicle_Style   MSRP
3     GMC    Acadia  2017      194.0                 4         AUTOMATIC       4dr SUV  34450
4  Nissan  Frontier  2017      261.0                 6            MANUAL        Pickup  32340

String Operations

In [7]:
# Change to lower case
print(df['Vehicle_Style'].str.lower())
# Replace a pattern with another value
print(df['Vehicle_Style'].replace(to_replace=r' ',value='_',regex=True))
# Replace multiple patterns with other values
print(df['Vehicle_Style'].replace(regex={r' ':'_',r'[Ss]edan':'Taxi'}))
# Chaining of methods
print(df['Vehicle_Style'].replace(regex={r' ':'_',r'[Ss]edan':'Taxi'}).str.lower())

0          sedan
1          sedan
2    convertible
3        4dr suv
4         pickup
Name: Vehicle_Style, dtype: object
0          sedan
1          Sedan
2    convertible
3        4dr_SUV
4         Pickup
Name: Vehicle_Style, dtype: object
0           Taxi
1           Taxi
2    convertible
3        4dr_SUV
4         Pickup
Name: Vehicle_Style, dtype: object
0           taxi
1           taxi
2    convertible
3        4dr_suv
4         pickup
Name: Vehicle_Style, dtype: object

Summarizing Operations

In [8]:
# Min, max, mean, median, std, var
print(df.MSRP.min()); print(df.MSRP.median())
# Get summary with rounded values
print(df.MSRP.describe().round(2)) # show summary of numerical features by default
print(df.describe(include=['O'])) # show summary of categorical variables
# Get unique values
print(df.Make.unique()) # For number of unique values, use nunique(); df.nunique() - unique values for each column

2000
32340.0
count        5.00
mean     30186.00
std      18985.04
min       2000.00
25%      27150.00
50%      32340.00
75%      34450.00
max      54990.00
Name: MSRP, dtype: float64
          Make   Model Transmission Type Vehicle_Style
count        5       5                 5             5
unique       4       5                 2             5
top     Nissan  Stanza            MANUAL         sedan
freq         2       1                 3             1
['Nissan' 'Hyundai' 'Lotus' 'GMC']

Missing Values

In [9]:
# Column-wise check the number of null values
print(df.isnull().sum())
# Rows which contain at least one null value
print(df.isnull().any(axis=1)) # axis = 1 for rows; by default its 0 for columns

Make                 0
Model                0
Year                 0
Engine HP            1
Engine Cylinders     0
Transmission Type    0
Vehicle_Style        0
MSRP                 0
dtype: int64
0    False
1     True
2    False
3    False
4    False
dtype: bool

Grouping By

In [19]:
# To find mean value group-wise
print(df.groupby(by=['Transmission Type']).MSRP.mean())
# To find values aggregated using different functions on different columns grouped by a single column
print(df.groupby(by=['Transmission Type']).agg({'MSRP':['mean','max'],'Vehicle_Style':'count'}))
# To find values aggregated using different functions on different columns grouped by multiple columns
print(df.groupby(by=['Year','Transmission Type']).agg({'MSRP':['mean','max'],'Vehicle_Style':'count'}))

Transmission Type
AUTOMATIC    30800.000000
MANUAL       29776.666667
Name: MSRP, dtype: float64
                           MSRP        Vehicle_Style
                           mean    max         count
Transmission Type
AUTOMATIC          30800.000000  34450             2
MANUAL             29776.666667  54990             3
                           MSRP        Vehicle_Style
                           mean    max         count
Year Transmission Type
1991 MANUAL              2000.0   2000             1
2010 MANUAL             54990.0  54990             1
2017 AUTOMATIC          30800.0  34450             2
     MANUAL             32340.0  32340             1

   Year Transmission Type     MSRP        Vehicle_Style
                              mean    max         count
0  1991            MANUAL   2000.0   2000             1
1  2010            MANUAL  54990.0  54990             1
2  2017         AUTOMATIC  30800.0  34450             2
3  2017            MANUAL  32340.0  32340             1

Getting Data from Dataframes in Numpy Arrays or Dictionaries

In [23]:
# Get numpy arrays
print(df.Make.values)
print(df.values)
# Get the observations in the form of a list of dictionaries where each dictionary specifies one observation in the dataframe
print(df.to_dict(orient='records'))
# Get the observations in the form of a dictionary of lists where each key specifies the column name in the dataframe and each value is a list of values for that column
print(df.to_dict(orient='list'))

['Nissan' 'Hyundai' 'Lotus' 'GMC' 'Nissan']
[['Nissan' 'Stanza' 1991 138.0 4 'MANUAL' 'sedan' 2000]
 ['Hyundai' 'Sonata' 2017 nan 4 'AUTOMATIC' 'Sedan' 27150]
 ['Lotus' 'Elise' 2010 218.0 4 'MANUAL' 'convertible' 54990]
 ['GMC' 'Acadia' 2017 194.0 4 'AUTOMATIC' '4dr SUV' 34450]
 ['Nissan' 'Frontier' 2017 261.0 6 'MANUAL' 'Pickup' 32340]]
[{'Make': 'Nissan', 'Model': 'Stanza', 'Year': 1991, 'Engine HP': 138.0, 'Engine Cylinders': 4, 'Transmission Type': 'MANUAL', 'Vehicle_Style': 'sedan', 'MSRP': 2000}, {'Make': 'Hyundai', 'Model': 'Sonata', 'Year': 2017, 'Engine HP': nan, 'Engine Cylinders': 4, 'Transmission Type': 'AUTOMATIC', 'Vehicle_Style': 'Sedan', 'MSRP': 27150}, {'Make': 'Lotus', 'Model': 'Elise', 'Year': 2010, 'Engine HP': 218.0, 'Engine Cylinders': 4, 'Transmission Type': 'MANUAL', 'Vehicle_Style': 'convertible', 'MSRP': 54990}, {'Make': 'GMC', 'Model': 'Acadia', 'Year': 2017, 'Engine HP': 194.0, 'Engine Cylinders': 4, 'Transmission Type': 'AUTOMATIC', 'Vehicle_Style': '4dr SUV', 'MSRP': 34450}, {'Make': 'Nissan', 'Model': 'Frontier', 'Year': 2017, 'Engine HP': 261.0, 'Engine Cylinders': 6, 'Transmission Type': 'MANUAL', 'Vehicle_Style': 'Pickup', 'MSRP': 32340}]
{'Make': ['Nissan', 'Hyundai', 'Lotus', 'GMC', 'Nissan'], 'Model': ['Stanza', 'Sonata', 'Elise', 'Acadia', 'Frontier'], 'Year': [1991, 2017, 2010, 2017, 2017], 'Engine HP': [138.0, nan, 218.0, 194.0, 261.0], 'Engine Cylinders': [4, 4, 4, 4, 6], 'Transmission Type': ['MANUAL', 'AUTOMATIC', 'MANUAL', 'AUTOMATIC', 'MANUAL'], 'Vehicle_Style': ['sedan', 'Sedan', 'convertible', '4dr SUV', 'Pickup'], 'MSRP': [2000, 27150, 54990, 34450, 32340]}